@import url(https://fonts.googleapis.com/css?family=Roboto:300);


*{
    margin: 0;
    padding: 0;
}

html{
    min-height: 100vh;
}

body{
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(top, #76b852, #8DC26F);
    background: -moz-linear-gradient(top, #76b852, #8DC26F);
    background: -o-linear-gradient(top, #76b852, #8DC26F);
    background: linear-gradient(to top, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    min-height: 100vh!important;
    height: 100vh!important;
}

a{
    text-decoration: none!important;
}




nav{
    margin-bottom: 5em;
}
.navbar{
    padding: 0!important;
}
.nav-link{
    padding: 0.6em 2em  !important;
    color: black !important;
    transition: 0.2s ease-in-out;
    font-size: 1.2em;
    font-weight: 900;
}




.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.errors{
    width: 100%;

}
.errorWarning{
    font-size: 16px;
    color: red;
    padding: 15px;
}

input:not([type="file"]) ,textarea{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
input[type="file"]{
    width: 100px;
    margin-bottom: 15px;
    float: right;
}
 input[type="submit"] {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all  ease;
    transition: all  ease;
    cursor: pointer;
}
 input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
    background: #43A047;
}
 .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.message a {
    color: #4CAF50;
    text-decoration: none;
}








.content{
    min-width: 100%;
    margin-top: 5em;
    padding: 2em 2em 0 2em;
}

.tasks{
    width: 45%;
    margin-right: 4%;
    float: left;
}
.edit{
    width: 45%;
    margin-left: 4%;
    float: right;
}

.task{
    background: #FFFFFF;
    color: black;
    padding: 1em;
    width: 100%;
    float: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.deadline p{
    opacity: 0.5;
    margin: 0;
}


.addForm{
    top: 0;
    z-index: 1;
    background: #FFFFFF;
    width: 100%;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.opacity{
    opacity: 0.5;
    font-size: 16px;
}


